@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Extralight.woff2") format("woff2"),
    url("../fonts/ClashDisplay-Extralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Light.woff2") format("woff2"),
    url("../fonts/ClashDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Regular.woff2") format("woff2"),
    url("../fonts/ClashDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Medium.woff2") format("woff2"),
    url("../fonts/ClashDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Semibold.woff2") format("woff2"),
    url("../fonts/ClashDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Bold.woff2") format("woff2"),
    url("../fonts/ClashDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 1vw;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "ClashDisplay", sans-serif;
  background-color: #ffffff;
}

@media only screen and (max-width: 1024px) {
  .hide-mb {
    display: none !important;
  }

  .nav {
    z-index: 100;
    position: sticky;
    top: 0;

    .header-inner {
      width: 100vw;
      max-width: 100vw;
      position: relative;
      transition: all 0.5s ease;

      .main-header {
        width: 100%;
        height: max-content;
        padding: 16px;
        background-color: #000000;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
          width: max-content;
          height: max-content;

          .logo {
            width: 72px;
            height: auto;
          }
        }

        .right {
          .hamburger {
            width: 24px;
            height: 24px;
          }
        }
      }

      .mobile-menu {
        z-index: 200;
        position: absolute;
        top: 0%;
        width: 100vw;
        height: 100vh;
        padding: 16px 16px;
        background-color: #000000;
        display: flex;
        flex-direction: column;
        gap: 24px;
        transition: all 0.5s ease;

        .top {
          width: 100%;
          height: max-content;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .left {
            .logo {
              width: 72px;
              height: auto;
            }
          }

          .right {
            width: 24px;
            height: 24px;
          }
        }

        .bottom {
          .mb-nav {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 16px;

            li {
              .menu-link {
                font-size: 14px;
                font-weight: 500;
                color: #ffffff;
                text-decoration: none;
              }
            }
          }

          .socials {
            width: 100%;
            height: max-content;
            padding-top: 24px;

            .title {
              color: #ffffff;
              font-size: 18px;
              font-weight: 700;
              margin-bottom: 8px;
            }

            .socials-icons {
              display: flex;
              align-items: center;
              justify-content: start;
              gap: 16px;
            }
          }
        }
      }

      .mobile-menu.active {
        left: 0%;
      }

      .mobile-menu.inactive {
        left: 100%;
      }
    }
  }
}

// @media only screen and (max-width: 767px) {
// }

@media only screen and (max-width: 1024px) {
  .hero {
    background: linear-gradient(
      180deg,
      rgba(44, 133, 242, 1) 0%,
      rgba(44, 168, 235, 1) 100%
    );
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 0px 16px 0px 16px;

    .discord-link {
      width: 100%;
      height: max-content;
      transform: translateX(-16px);

      .dis-link {
        width: max-content;
        height: max-content;
        padding: 14px 28px;
        border-bottom-right-radius: 16px;
        background-color: rgba(255, 255, 255, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        gap: 6px;

        span {
          font-size: 16px;
          font-weight: 500;
          color: #ffffff;
        }

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    .text {
      padding-top: 32px;
      width: 100%;
      height: max-content;

      .title {
        font-size: 40px;
        color: #ffffff;
        font-weight: 700;
        padding-bottom: 16px;
      }

      .learn-more {
        width: max-content;
        text-decoration: none;
        color: #ffffff;
        opacity: 0.75;
        display: flex;
        align-items: center;
        transition: all 0.3s ease;
        span {
          font-size: 20px;
          font-weight: 500;
        }

        svg {
          width: 24px;
          height: 24px;
          transition: all 0.3s ease;
        }

        &:hover svg {
          transform: translateX(4px);
        }

        &:hover {
          opacity: 1;
        }
      }
    }

    .hero-banner {
      .cr-king-mb {
        padding-top: 24px;
        height: auto;
      }
    }
  }
}

@media only screen and (min-width: 1025px) {
  .hide-pc {
    display: none !important;
  }

  .nav {
    z-index: 100;
    position: sticky;
    top: 0;
    width: 100%;
    height: max-content;

    .main-header {
      width: 100%;
      height: max-content;
      padding: 1rem 2rem;
      background-color: #000000;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        width: max-content;
        height: max-content;

        .logo {
          width: 5.875rem;
          height: auto;
        }
      }

      .right {
        .pc-nav {
          width: max-content;
          height: max-content;
          display: flex;
          align-items: center;
          justify-content: end;
          gap: 1.25rem;

          li {
            .menu-link {
              color: #ffffff;
              opacity: 0.75;
              text-decoration: none;
              font-size: 1rem;
              font-weight: 600;
              transition: opacity 0.3s ease;

              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  .hero {
    background: linear-gradient(
      180deg,
      rgba(44, 133, 242, 1) 0%,
      rgba(44, 168, 235, 1) 100%
    );
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 2rem 2rem 1.625rem 2rem;

    .text {
      width: 50%;
      height: max-content;

      .title {
        font-size: 4rem;
        color: #ffffff;
        font-weight: 700;
        padding-bottom: 0.5rem;
      }

      .learn-more {
        width: max-content;
        text-decoration: none;
        color: #ffffff;
        opacity: 0.75;
        display: flex;
        align-items: center;
        transition: all 0.3s ease;
        span {
          font-size: 1.5rem;
          font-weight: 500;
        }

        svg {
          width: 2rem;
          height: 2rem;
          transition: all 0.3s ease;
        }

        &:hover svg {
          transform: translateX(0.25rem);
        }

        &:hover {
          opacity: 1;
        }
      }
    }

    .hero-banner {
      .cr-king-pc {
        width: 43.75rem;
        height: auto;
      }
    }
  }
}
